*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    margin-top: 100px;
    border: 0.5px solid #b0ece9;
    border-radius: 15%;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nkar{
    border-radius: 15%;
    width: 300px;
    height: 200px;
    margin-top: 15px;
    
}
.row{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    position: static;
    transform: translate(240px,10px);
    


}
.col1{
    border: 1px solid #616469;
    width: 100px;
    height: 20px;
    border-radius: 15%;
    text-align: center;
    color: #616469;   
     

}
.col2{
    border: 1px solid #616469;
    width: 100px;
    height: 20px;
    border-radius: 15%;
    text-align: center;
    color: #616469;
}
h1{
    white-space: nowrap;
    position: static;
    transform: translate(-150px,50px);
    
}
p{
    position: static;
    text-align: left;
    transform: translate(-380px,100px);
}
button{
    color: rgb(0, 83, 138);
    background-color: rgb(119, 198, 250);
    white-space: nowrap;
    border-radius: 25%;
    position: static;
    transform: translate(-550px,170px);
    width: 200px;
    height: 40px;
    border: transparent;
}