body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1px solid #000;
  aspect-ratio: 2/1;
  height: 90vh;
  display: grid;
  background-color: #2b3043;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 20px;
  gap: 10px 10px;
}

.grid1 {
  background: #fea062;
  grid-area: 1 / 1 / 2 / 2;
}

.grid2 {
  background: #35daba;
  grid-area: 1 / 2 / 2 / 4;
}

.grid3 {
  background: #fd6057;
  grid-area: 2 / 1 / 4 / 2;
}

.grid4 {
  background: #5e844b;
  grid-area: 2 / 2 / 4 / 4;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid5 {
  background: #35daba;
  grid-column: span 2;
}
.grid6 {
  background: #1cc1a1;
}
.grid7 {
  background: #fea062;
}
