body{
   background-color: #62374e;
            width: 400px;
            height: 300px;
            position: relative;
            margin: 0;
}
div{
    width: 50px;
    height: 50px;
    background: #fdc57b;
}
.one{
    position: absolute;
    transform: translate(50px,50px);
}
.two{
    position: absolute;
    transform: translate(500px,50px);
}
.three{
    position: absolute;
    transform: translate(50px,500px);
}
.for{
    position: absolute;
    transform: translate(500px,500px);
}