nav {
  border: 10px dashed #ff0000;
}
header{
    padding: 20px;
    background-color: aqua;
    margin: 10px auto;
}
a{
    border: 3px solid #6764e7 ;
}
._blank{
    border: 2px dashed  color rgb(6, 255, 18);
}
.card{
    border: 20px color red;
    width: 150px;
    margin: 120px ;
    padding: 25%;border-radius: 15%;
    border-radius: 25%;
}
input{
    background-color: blue;
}
