.mec{
    width: 400px;
    height: 300px;
    background-color: #6592CF;
}
.one{
    border: 1px solid #EEB850;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EEB850;
    position: absolute;
    transform: translate(185px,125px);
}
.two{
    border: 1px solid #243D83;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #243D83;
    position: absolute;
    transform: translate(150px,90px);
}
.three{
    border: 1px solid #243D83;
    width: 70px;
    height: 250px;
    background-color: #243D83;
    transform: translate(50px,20px);
    position: absolute;
}
.for{
    border: 1px solid #243D83;
    width: 70px;
    height: 250px;
    background-color: #243D83;
    transform: translate(275px,20px);
    position: absolute;
}