.container {
  width: 400px;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  width: 50px;
  height: 120px;
  background-color: black;
}
.h2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-40px, -35px);
  animation: karmir 10s linear infinite;
}
.h3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  transform: translate(-70px, 3px);
  animation: dexin 10s linear infinite;
}
.h4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  transform: translate(-100px, 40px);
  animation: kanach 10s linear infinite;
}
@keyframes karmir {
    0%{background:red;}
  30%{background:red;}
  31%{background:black;}
  100%{background:black;}
}
@keyframes dexin {
      0%{background:black;}
  30%{background:yellow;}

  31%{background:yellow;}
  45%{background:black;}

  81%{background:black;}
  83%{background:yellow;}
  85%{background:yellow;}
  90%{background: black;}
  95%{background: yellow;}
  100%{background:black;}
}
@keyframes kanach {
   0%{background:black;}
  45%{background:black;}

  50%{background:green;}
  60%{background:green;}

  70%{background:black;}
  75%{background: green;}
  80%{background: black;}
  100%{background:black;}
}
